@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.header-section,
.hero-section,
.information-section,
.testimonial-section,
.action-section {
    display: flex;
    justify-content: center;
}

.header-section,
.hero-section {
    background: #1F2937;
}

.testimonial-section {
    background: #E5E7EB;
}

.hero-section {
    padding-bottom: 64px;
}

.header,
.hero,
.testimonial,
.action {
    width: 1024px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    padding: 48px;
}

.card {
    width: 450px;
}

.card p {
    margin-bottom: 10px;
}

.card button {
    background-color: #3882F6;
    border:none;
    padding: 4px 16px;
    color: #E5E7EB;
    font-weight: bold;
    border-radius: 5px;
}

.image {
    background: grey;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    gap: 48px;
    margin-bottom: 100px;
}

.item {
    width: 150px;
    text-align: center;
    color: #1f2937;
}

.box {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 12px;
}

.testimonial {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 100px;
}

.author {
    font-weight: bold;
    text-align: right;
}

.action {
    background: #3882F6;
    margin: 64px 0;
    color: #E5E7EB;
    padding: 24px 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}

.text-action {
    font-weight: bold;
    font-size: 24px;
}

.action button {
    background-color: #3882F6;
    border:2px solid #E5E7EB;
    padding: 4px 16px;
    color: #E5E7EB;
    font-weight: bold;
    border-radius: 5px;
}

.footer {
    background: #1f2937;
    color: #E5E7EB;
    height: 72px;
    display:flex;
    align-items: center;
    justify-content: center;
}